.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: beige;
}

.form input,
.form select {
  display: block;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-size: 17px;
  padding: 5px;
}

.form input:focus,
.form select:focus {
  outline: none;
}

.form input::after ::before,
.form select::after ::before {
  visibility: hidden;
}

.form__page {
  min-height: 90vh;
  max-width: 280px;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__page__labelName {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__page__inputContainer {
  position: relative;
  overflow: hidden;
}

.form__page__inputContainer input {
  width: calc(280px - (40px * 2));
  margin-right: 40px;
}

.form__page__inputContainer__information {
  position: absolute;
  background-color: burlywood;
  border-radius: 5px 0 0 5px;
  right: calc(-100% + 40px);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.form__page__inputContainer__information__informationIcon {
  min-width: 30px;
  border-radius: 50%;
  background-image: url(information.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 5px;
}

.form__page__inputContainer__information__informationIcon.activeIcon {
  cursor: default;
}

.form__page__inputContainer__information__informationMessage {
  font-size: 14px;
  margin: auto 0;
}

.form__page__inputContainer__information.activeInfo {
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.form__page__errorMessage {
  margin-bottom: 20px;
  max-width: calc(280px - (40px * 2));
  height: 18px;
  color: red;
  opacity: 0;
}

.form__button {
  height: 30px;
  font-size: 20px;
}

.form .active {
  opacity: 1;
}

.summaryPage__summaryText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summaryPage__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5px;
}

.summaryPage__inputBox__inputName {
  font-size: 15px;
}

.summaryPage__inputBox__inputValue {
  margin-left: 5px;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.summaryPage__correctQuestion {
  margin-bottom: 20px;
}

.summaryPage__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.summaryPage__buttons button {
  padding: 10px;
}
/*# sourceMappingURL=App.css.map */