.form {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: beige;

	input,
	select {
		display: block;
		border-radius: 5px;
		border: none;
		height: 30px;
		font-size: 17px;
		padding: 5px;
		&:focus {
			outline: none;
		}
		&::after ::before {
			visibility: hidden;
		}
	}

	&__firstPage {
		min-height: 90vh;
		width: 80vw;
		margin: auto auto;
		display: flex;
		flex-direction: column;

		&__labelName {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__inputContainer {
			position: relative;

			input {
				width: 100%;
			}

			&__informationIcon {
				position: absolute;
				right: 0;
				top: 50%;
				width: 30px;
				height: 100%;
				transform: translateY(-50%);
				background-image: url(information.svg);
				background-repeat: no-repeat;
				transition: 0.5s;
				&:hover {
					width: 30%;
					background-color: chartreuse;
					border-radius: 5px;
					transition: 0.5s;
				}
			}
		}

		&__errorMessage {
			margin-bottom: 10px;
			height: 18px;
			color: red;
			opacity: 0;
		}
	}

	&__button {
		height: 30px;
		font-size: 20px;
	}

	.active {
		opacity: 1;
	}
}
