$inputHeight: 40px;

.form {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: beige;

	input,
	select {
		display: block;
		border-radius: 5px;
		border: none;
		height: $inputHeight;
		font-size: 17px;
		padding: 5px;
		&:focus {
			outline: none;
		}
		&::after ::before {
			visibility: hidden;
		}
	}

	&__firstPage {
		min-height: 90vh;
		width: 80vw;
		margin: auto auto;
		display: flex;
		flex-direction: column;

		&__labelName {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__inputContainer {
			position: relative;
			overflow: hidden;

			input {
				width: 100%;
			}

			&__information {
				position: absolute;
				background-color: burlywood;
				border-radius: 5px;
				right: calc(-100% + #{$inputHeight});
				top: 0;
				display: flex;
				width: 100%;
				height: 100%;
				transition: 1s;

				&__informationIcon {
					min-width: 30px;
					border-radius: 50%;
					background-image: url(information.svg);
					background-repeat: no-repeat;
					cursor: pointer;
					margin: 5px;
				}
				&__informationMessage {
					font-size: 14px;
					margin: auto 0;
				}
				&.activeInfo {
					right: 0;
					transition: 1s;
				}
			}
		}

		&__errorMessage {
			margin-bottom: 10px;
			height: 18px;
			color: red;
			opacity: 0;
		}
	}

	&__button {
		height: 30px;
		font-size: 20px;
	}

	.active {
		opacity: 1;
	}
}
