@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: beige;

	input,
	select {
		font-family: "Exo", sans-serif;
		display: block;
		border-radius: 5px;
		border: none;
		height: $inputHeight;
		width: $formWidth;
		margin-right: $inputHeight;
		font-size: 17px;
		padding: 5px;
		transition: background-color 0.3s;
		&:focus {
			outline: none;
		}
		&::after ::before {
			visibility: hidden;
		}
		&:hover {
			background-color: lightgray;
			transition: background-color 0.3s;
		}
	}
}
