@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: beige;

	input,
	select {
		font-family: "Exo", sans-serif;
		display: block;
		border-radius: 5px;
		border: none;
		height: $inputHeight;
		font-size: 17px;
		padding: 5px;
		&:focus {
			outline: none;
		}
		&::after ::before {
			visibility: hidden;
		}
	}
}
