@import "./variables.scss";

.form {
	.summaryPage {
		padding: 10px;
		&__summaryText {
			display: flex;
			justify-content: center;
			font-family: "Krona One", sans-serif;
			margin-bottom: 20px;
		}
		&__inputBox {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			flex-wrap: wrap;
			margin-bottom: 5px;
			&__inputName {
				font-size: 14px;
				font-family: "Exo", sans-serif;
			}
			&__inputValue {
				font-family: "Jura", sans-serif;
				margin-left: 5px;
				font-size: 16px;
				font-style: italic;
				font-weight: 600;
				word-wrap: anywhere;
			}
		}
		&__correctQuestion {
			margin: 20px 0;
			text-align: center;
			font-family: "Exo", sans-serif;
		}
		&__buttons {
			position: relative;
			height: 60px;
			&__button {
				font-family: "Jura", sans-serif;
				height: 100%;
				width: 45%;
				position: absolute;
				top: 0;
				background-color: $backgroundClr;
				font-size: 22px;
				border-radius: 5px;
				&:hover {
					background-color: $hoveredBackgroundClr;
					cursor: pointer;
					color: $hoveredFontClr;
				}

				&.declineButton {
					left: 0;
				}

				&.acceptButton {
					right: 0;
				}
			}
		}
	}
}
