@import "./variables.scss";

.form {
	&__page {
		&__thankingMessage {
			font-family: "Krona One", sans-serif;
			text-align: center;
			&__thankingText {
				font-size: 40px;
				margin-bottom: 20px;
			}
			&__wishingText {
				font-size: 30px;
			}
		}
	}
}
